In [2]:
 numpy as np

In [3]:
arr = np.array([1,4,9,16,25])
print(np.sqrt(arr))

[1. 2. 3. 4. 5.]

In [4]:
print(np.exp(arr))

[2.71828183e+00 5.45981500e+01 8.10308393e+03 8.88611052e+06
 7.20048993e+10]

In [5]:
print(np.exp(2))

7.38905609893065

In [6]:
print(np.log(arr))

[0.         1.38629436 2.19722458 2.77258872 3.21887582]

In [7]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

In [8]:
print(np.sum(arr))

21

In [9]:
print("每列总和",np.sum(arr,axis=0))

每列总和 [5 7 9]

In [10]:
print("每列总和",np.sum(arr,axis=1))

每列总和 [ 6 15]

In [11]:
print(np.std(arr))

1.707825127659933

In [12]:
print(np.var(arr))

2.9166666666666665

In [13]:
a = np.array([[1], [2], [3]])  # 形状 (3, 1)
b = np.array([10, 20, 30])     # 形状 (3,)

print("a + b:\n", a + b)

a + b:
 [[11 21 31]
 [12 22 32]
 [13 23 33]]

In [14]:
data = np.random.normal(100, 15, 20)  # 均值100，标准差15
print("原始数据:", data)

原始数据: [ 89.99018789  92.79850532 106.40349465  89.11985861 120.20194941
 111.98068904  68.67890453  77.69352788  88.54231709 111.43202271
 115.92016256 111.81625833 139.89924764  85.8411348  103.05289521
  73.18400992  99.76546628 114.08900427  88.22078625  77.58740264]

In [15]:
A = np.array([[4, 7], [2, 6]])
print("原矩阵 A:\n", A)

原矩阵 A:
 [[4 7]
 [2 6]]

In [18]:
# 求逆矩阵
A_inv = np.linalg.inv(A)
print("逆矩阵 A⁻¹:\n", A_inv)

# 验证 A × A⁻¹ = 单位矩阵
identity = A @ A_inv
print("A × A⁻¹ (应该接近单位矩阵):\n", np.round(identity))

逆矩阵 A⁻¹:
 [[ 0.6 -0.7]
 [-0.2  0.4]]
A × A⁻¹ (应该接近单位矩阵):
 [[ 1.  0.]
 [-0.  1.]]

In [19]:
A = np.array([[1, 2], [3, 4]])
det_A = np.linalg.det(A)
print("矩阵 A:\n", A)
print("行列式 det(A):", det_A)

矩阵 A:
 [[1 2]
 [3 4]]
行列式 det(A): -2.0000000000000004

In [ ]:
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# 随机选择一个元素
choice = np.random.choice(data)
print("随机选择:", choice)

# 随机选择多个元素 (无放回)
choices_no_replace = np.random.choice(data, size=3, replace=False)
print("无放回抽样:", choices_no_replace)

In [2]:
import pandas as pd
import numpy as np
s1 = pd.Series([1, 3, 5, np.nan, 6, 8])
print("从列表创建:\n", s1)

从列表创建:
 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 从字典创建（键成为索引）
s2 = pd.Series({'a': 1, 'b': 3, 'c': 5})
print("从字典创建:\n", s2)

从字典创建:
 a    1
b    3
c    5
dtype: int64

In [12]:
s3 : pd.core.series.Series= pd.Series([10, 20, 30], index=['x', 'y', 'z'])
print("指定索引:\n", s3)
s2 = pd.Series({'a': 1, 'b': 3, 'c': 5})
print("从字典创建:\n", s2)

# 指定索引
s3 = pd.Series([10, 20, 30], index=['x', 'y', 'z'])
print("指定索引:\n", s3)

指定索引:
 x    10
y    20
z    30
dtype: int64
从字典创建:
 a    1
b    3
c    5
dtype: int64
指定索引:
 x    10
y    20
z    30
dtype: int64

In [13]:
# 基本属性
print("值:", s3.values)
print("索引:", s3.index)
print("数据类型:", s3.dtype)

# 索引访问
print("s3['x']:", s3['x'])  # 10
print("s3[0]:", s3[0])      # 10

# 向量化运算
print("s3 * 2:\n", s3 * 2)
print("s3 > 15:\n", s3 > 15)

值: [10 20 30]
索引: Index(['x', 'y', 'z'], dtype='object')
数据类型: int64
s3['x']: 10
s3[0]: 10
s3 * 2:
 x    20
y    40
z    60
dtype: int64
s3 > 15:
 x    False
y     True
z     True
dtype: bool

C:\Users\aurora\AppData\Local\Temp\ipykernel_320008\1261591997.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("s3[0]:", s3[0])      # 10

In [15]:
arr = np.array([1, 2, 3, 4, 5, 6])

# 选择大于3的元素
mask = arr > 3
print("掩码:", mask)
print(type(mask))# [False False False  True  True  True]
print("大于3的元素:", arr[mask])  # [4 5 6]

掩码: [False False False  True  True  True]
<class 'numpy.ndarray'>
大于3的元素: [4 5 6]

In [23]:
np_array = np.random.normal(0,1,(33, 22))
print(np_array)

[[ 1.03131998 -0.93354937  0.8322872   0.10446359  0.04679524 -2.43285412
   0.83532186  2.05944843  0.76296779  0.73497725  0.32735318 -0.96194889
   0.81032724 -1.34561634 -0.34839353 -0.27198356  0.19603581  0.76152131
  -2.53337081 -1.38653611  0.44349948  1.51780252]
 [-0.65311418  0.12457755 -1.26926887 -1.26234633 -1.88137604 -0.27763515
   1.30677152 -0.26280798 -0.61742435  1.36691417  0.920136    1.24862594
  -0.09224254  0.35559132  0.18654867 -0.03084346  0.27278386 -1.01631698
   0.48148983 -0.62413412 -0.73334111 -0.81735951]
 [ 1.19328804  0.60365326 -0.9724169   0.45423259  0.57990835  0.02623133
  -0.23525531  0.1177231   0.3564564  -0.4457694  -1.07927912  1.3999232
   0.17468625 -0.04462465 -0.29943686  1.0703195  -1.61515261  0.89076025
   0.23229331 -0.26062634 -0.38608608 -0.8246167 ]
 [-0.09346144  1.2786378   0.74743277  1.3408207  -1.11151693  0.79207905
   0.13612173  1.47207162 -0.39506572 -0.591959   -1.56185998 -0.23565671
  -0.74273991 -0.2183628   1.87778477  0.79145462  0.13822609 -0.81285825
   0.17132309  1.48227662  0.80806969  1.0444622 ]
 [-1.19127424 -1.0352936  -0.4158586  -0.10798681  0.27379435  1.57168394
   0.06281997  1.4399865   0.99629915 -3.55526048 -0.60337422  1.28582562
  -0.95662124  0.58916662  1.24686043 -1.41057558 -0.1615583   1.67918323
   0.24482664 -0.86807576 -0.79978391  1.05020066]
 [-0.62604737 -0.85267695 -1.37760455  0.96704727  0.07436542  0.46872677
  -0.65420767  0.84274684  0.1607359  -0.70377301  0.49124571 -0.16683628
  -2.15959145  0.44292307  1.26945549 -0.75529658  0.90572562  0.82196894
  -0.53440343  0.81821681  0.32636345  0.55524827]
 [-0.35357254 -0.69282575 -0.98641266 -0.02210809 -1.9497384   0.17352809
  -0.04465345  2.3536958  -0.29745946 -1.78604908  0.25245739 -0.12272562
   0.96269703 -0.05402697 -0.43610786 -0.98428214 -0.32797689 -1.37736788
   0.92275174  0.31375721  0.58387267  0.08276333]
 [-3.02546031  1.0052837  -0.59516667 -0.76963099  0.1980999   0.59702291
  -0.00380572  0.25975159  0.91918586  0.09972987  0.03342831  0.60988113
  -0.41495149  0.00466709  0.41815528 -0.25532279 -0.17447212  0.83200753
   1.14437365  0.39587432 -1.02868214  0.11893461]
 [-2.26962804  2.03438682  1.21706317 -0.03977009  2.07367506 -1.3889107
   0.52257923  1.19097803  0.23210457 -0.74455735 -1.58232701  0.22969058
  -1.75812697 -0.35844826 -1.67219929 -0.39522062 -0.40654762 -1.02864852
   1.80183514  0.34442226  0.24015368  0.53657672]
 [-0.07750767  0.18492163 -0.07946095 -0.29970077  0.5173068   0.36553143
   0.66126041  1.41989206  0.99200021  0.08577564 -1.0852317   0.34942179
  -1.27873769 -0.23189016 -1.85074884  0.83231449 -0.60079478  0.63513866
   0.0774256  -1.07731481  0.10817965 -0.50027606]
 [ 0.52997474 -0.20164679  0.06589431 -1.45743881 -0.76174893  0.83203529
  -0.5588138   2.00870919  0.18973907 -0.21018831  1.65962236 -0.44945168
   1.15378789  0.10731455 -0.44106437 -3.5763803   2.64244882  1.46141567
  -0.9241115  -0.21521366  0.01825672 -0.85064331]
 [ 0.35106866  0.21621023 -0.12218296 -1.35819629  3.00693554  0.35581522
   0.44127574 -0.03469135  2.1332211   0.36122995  1.38768675 -0.63748056
  -0.36161271  0.05053416 -0.66028904  0.86566274 -0.03448695  0.21826764
  -1.70261701  0.6453307   0.18385387  0.11154013]
 [ 1.05770565 -0.11486145 -0.39687771 -2.07901265  0.35863244 -0.72082005
   0.86091318 -2.00634978 -0.44389602 -1.16474179 -1.07634166 -0.38287066
  -2.43888245 -1.10741642  0.2835141  -0.58164027  0.5678647   0.4995407
   0.02114202 -0.61892222  0.01991572 -0.30351194]
 [ 1.51304742  0.28533707  0.7116085   1.0097096   0.70443931 -1.71679827
   0.92981949  0.69440757 -0.22666304 -0.17187435 -0.39942377  1.34285191
  -0.90745261 -0.13658681  0.62111302  1.41389718 -0.52097379  1.05990988
   1.11662066 -0.66013341  0.03071206 -0.76023355]
 [ 1.38539128  1.17019704  0.75189873  0.23706382 -0.44142386 -1.6223493
  -0.15622361 -0.18787823 -0.22584435  0.46153565  1.32160789 -0.06355521
   1.83039612 -0.49679648  0.22189876  0.44319554 -1.07750648 -0.32675111
  -0.79566109 -0.14919206  1.28375172 -1.87547767]
 [-0.73140373 -0.32012106  0.83463252 -1.50891083 -0.05590207  0.99875683
  -0.87120423  0.51792231 -0.30640349  0.07916477  0.02116723  2.1266185
   0.2531407   0.43096723  1.48979649  0.65351734 -0.81484659 -1.02153352
  -1.32003268 -1.0736523   0.65077722  0.72348656]
 [ 0.32716956 -0.44322459 -0.43398494  0.46103115 -0.52999955  0.40795085
   0.36852228 -1.16253037  0.40554904  0.34920172 -0.81537605 -1.74628942
  -0.80344878 -0.96127686  2.01668793 -1.32986228  1.43963112 -2.97740003
  -0.43768961  0.38835033 -0.45014056  0.72260272]
 [-0.47173461 -1.21254875 -0.74605581  0.1988487   2.00863172 -1.00943288
  -0.49521621  0.25626596 -0.19420581 -1.54718341  0.65557491  0.37687429
  -0.25703552  0.82713241 -0.1412734   1.08294801  0.05556493 -0.53847282
   0.35379839  0.06008412 -0.9496617  -0.61131621]
 [-0.44833434  0.92576412  0.52025267 -0.06843948 -1.58592378 -0.74538792
  -0.9425138  -0.44506687  0.46785048  0.12195019  1.44732395 -0.91066434
  -0.88989265 -0.71387132  0.01465478  0.27585037 -0.9127694  -1.02918384
  -0.82459296  0.96098964 -1.60240207  1.50685212]
 [ 1.81071713  0.27110031 -0.0286181   0.88967116  2.14321462  1.59621454
  -0.98528889  0.3356397   1.06156577 -0.36292585  0.18439861  0.35507667
  -1.06948832 -2.26862523  1.81806012 -0.16338272  0.04698319 -0.43674194
   0.14743416 -0.31354037  0.52251384  0.20746202]
 [ 0.60305743  0.86359088  0.5059533   1.88704724  0.3027056   0.2822159
  -1.31891392 -0.55456698  1.39982025 -0.02634781 -2.36195841 -0.19682703
  -0.3400576   0.35205979  1.84788868  0.33139891 -0.22082724  0.18853195
   0.3354189  -0.56369617 -1.59998237  0.78647657]
 [ 1.27422042 -1.22090284 -0.03605928 -1.04733343 -1.41775345  0.55644722
  -0.02508259  0.35668144 -0.37953529 -0.69618936 -0.23607966  1.24444185
   0.48820502  0.34957534 -0.74864569 -0.52710507  3.46592961 -0.41489299
   1.95397033  0.89877866 -0.27854009 -0.55445306]
 [-1.2065856  -0.13976958  2.20038612  0.85362276 -0.57728417 -1.24160218
   1.24353876 -0.85652488 -1.91447901  0.24920037  0.4061083  -0.75421907
  -0.71963706 -1.57663736 -0.31567608  1.31744675  1.9607543   1.48623435
   0.79382562 -0.82058684  0.15949597 -0.14971562]
 [ 0.88124611 -0.08326672 -2.97480468 -0.54813806  0.23144944 -1.37500848
  -0.87704442  0.28124077 -2.45517036 -0.67791449  1.06223889 -0.04144072
  -2.61937534  2.69033855  2.27607545  0.83535947  0.19444712  0.57388654
   2.18015587 -0.27694061  0.232159    0.22029736]
 [-0.2192123   0.45741334 -2.30260919 -0.79921639  1.20663604 -1.05971344
  -1.7011285  -0.52750547  0.10392409  0.12382238 -0.152875    1.9411239
  -1.14532536  0.43966322 -1.53265212 -1.82097626  0.51291623  0.51592248
   0.31997751 -0.25026778  0.24392388 -0.45852804]
 [ 0.11553723 -1.07575361 -0.23189127  0.26744294  1.64803269 -0.93643926
  -0.99385557  0.32307664  1.80336088 -1.66536622 -1.65698317  0.19284489
   0.48476611  0.01346443  0.25423089  1.40789816  0.23097549  1.17813645
   0.01903787 -0.07261468  0.66249954 -0.47843896]
 [-0.87507122 -0.52365393  1.00650567  0.73330833  0.59990844  0.29168429
   0.63518601  0.18717514 -0.31805586 -0.70923072  0.03083663 -1.06038893
  -0.32174506  0.98220364  0.70950799  0.13730778  1.3472794   0.77983198
  -0.37725979 -0.29814821 -0.78085423 -0.34252236]
 [ 1.41128068 -1.30936181  1.68676875 -0.6836158   1.63617188 -1.51459982
  -0.69533872 -0.39488034  0.2545308  -1.24853143 -0.40025451 -1.32344297
  -1.09377216 -1.68207997  2.28782671 -0.2540308  -0.33643441 -0.61282338
   0.77534953  0.22928772 -0.16644654  0.03766144]
 [-0.39474608 -0.04494094  1.17412346  1.25406643 -0.18597367 -0.5103772
   1.05834988 -0.89277745  0.74829941 -0.62462507 -0.52452906  1.20706142
  -0.42330051  0.94459566 -0.39923259 -0.28441417  1.18164135  0.22750815
  -0.81797338 -1.72268806  0.7268649   0.38441366]
 [-1.24830468 -1.20426727  0.14837283 -0.50839208  0.21904878  0.28718268
   1.19586258 -0.56269211 -0.6344511   0.83184409  0.80790296 -1.52385879
  -0.34262485  0.81564627  1.94995738  1.00774219  1.46229629 -0.65320163
  -0.04085004 -0.50608436 -0.69618217 -0.5362392 ]
 [ 1.65139634 -0.55604492 -0.64185515  1.2173948   0.64793501 -1.47519123
   0.66645261  0.13408868  1.29948386  0.99979493  0.0941905   0.31596276
  -2.3985009   0.04793686  0.27960484  0.1354928   0.19567888  0.84113159
   0.4145476  -0.20259087 -1.54289323  0.6205676 ]
 [ 0.88349066 -0.17788494  1.80281614  0.28235844 -1.05118247 -0.40801161
   0.80219033 -1.32182034 -2.23437861  1.23820716  1.61443144 -0.31151294
   0.58135587  0.09083649 -1.18456033 -0.25006566  0.27591793 -0.95994317
   1.43712641  1.13578627 -0.73439869 -0.55676675]
 [-0.94722272  0.82459126  1.21091322  0.42294548  0.32303558  1.18393204
   0.22851819  0.48574843  1.02036807  0.32621664  0.093471    0.33985909
   0.04162701 -1.39270381  0.93168343 -0.30157681 -0.03181194  0.93793022
   0.94808983  1.22798535  0.58500833 -0.71865861]]

In [27]:
print(np.mean(np_array))

0.013859552328115246

In [28]:
# 创建示例数据
df = pd.DataFrame({
    '姓名': ['张三', '李四', '王五', '赵六', '钱七'],
    '年龄': [25, 30, 35, 28, 32],
    '城市': ['北京', '上海', '广州', '深圳', '北京'],
    '工资': [5000, 8000, 7000, 6000, 7500],
    '部门': ['技术', '销售', '技术', '人事', '销售']
})

print("前3行:")
print(df.head(3))

print("\n后2行:")
print(df.tail(2))

print("\n数据形状:", df.shape)
print("列名:", df.columns.tolist())
print("索引:", df.index.tolist())

前3行:
   姓名  年龄  城市    工资  部门
0  张三  25  北京  5000  技术
1  李四  30  上海  8000  销售
2  王五  35  广州  7000  技术

后2行:
   姓名  年龄  城市    工资  部门
3  赵六  28  深圳  6000  人事
4  钱七  32  北京  7500  销售

数据形状: (5, 5)
列名: ['姓名', '年龄', '城市', '工资', '部门']
索引: [0, 1, 2, 3, 4]

In [29]:
# 基本信息
print("数据类型:\n", df.dtypes)
print("\n基本信息:")
print(df.info())

print("\n描述性统计:")
print(df.describe())

print("\n唯一值:")
print("城市的唯一值:", df['城市'].unique())
print("城市的值计数:\n", df['城市'].value_counts())

数据类型:
 姓名    object
年龄     int64
城市    object
工资     int64
部门    object
dtype: object

基本信息:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      5 non-null      object
 1   年龄      5 non-null      int64
 2   城市      5 non-null      object
 3   工资      5 non-null      int64
 4   部门      5 non-null      object
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes
None

描述性统计:
              年龄           工资
count   5.000000     5.000000
mean   30.000000  6700.000000
std     3.807887  1204.159458
min    25.000000  5000.000000
25%    28.000000  6000.000000
50%    30.000000  7000.000000
75%    32.000000  7500.000000
max    35.000000  8000.000000

唯一值:
城市的唯一值: ['北京' '上海' '广州' '深圳']
城市的值计数:
 城市
北京    2
上海    1
广州    1
深圳    1
Name: count, dtype: int64

In [30]:
# 按位置选择
print("第2行:\n", df.iloc[1])        # 单行
print("前3行:\n", df.iloc[0:3])      # 多行

# 按标签选择
print("按标签选择:\n", df.loc[0:2])   # 包含结束位置

# 布尔索引
high_salary = df[df['工资'] > 6000]
print("工资>6000的员工:\n", high_salary)

beijing_employees = df[df['城市'] == '北京']
print("北京员工:\n", beijing_employees)

第2行:
 姓名      李四
年龄      30
城市      上海
工资    8000
部门      销售
Name: 1, dtype: object
前3行:
    姓名  年龄  城市    工资  部门
0  张三  25  北京  5000  技术
1  李四  30  上海  8000  销售
2  王五  35  广州  7000  技术
按标签选择:
    姓名  年龄  城市    工资  部门
0  张三  25  北京  5000  技术
1  李四  30  上海  8000  销售
2  王五  35  广州  7000  技术
工资>6000的员工:
    姓名  年龄  城市    工资  部门
1  李四  30  上海  8000  销售
2  王五  35  广州  7000  技术
4  钱七  32  北京  7500  销售
北京员工:
    姓名  年龄  城市    工资  部门
0  张三  25  北京  5000  技术
4  钱七  32  北京  7500  销售

In [32]:
# 多条件选择
condition = (df['工资'] > 6000) & (df['年龄'] < 35)
selected = df[condition]
print("工资>6000且年龄<35:\n", selected)

# 使用query方法
selected2 = df.query('工资 > 6000 and 年龄 < 35')
print("使用query方法:\n", selected2)

# 包含特定值的筛选
tech_employees = df[df['部门'].str.contains('技术')]
print("技术部门员工:\n", tech_employees)
print(type(df['部门'].str))

工资>6000且年龄<35:
    姓名  年龄  城市    工资  部门
1  李四  30  上海  8000  销售
4  钱七  32  北京  7500  销售
使用query方法:
    姓名  年龄  城市    工资  部门
1  李四  30  上海  8000  销售
4  钱七  32  北京  7500  销售
技术部门员工:
    姓名  年龄  城市    工资  部门
0  张三  25  北京  5000  技术
2  王五  35  广州  7000  技术
<class 'pandas.core.strings.accessor.StringMethods'>

In [33]:
print(np_array)

[[ 1.03131998 -0.93354937  0.8322872   0.10446359  0.04679524 -2.43285412
   0.83532186  2.05944843  0.76296779  0.73497725  0.32735318 -0.96194889
   0.81032724 -1.34561634 -0.34839353 -0.27198356  0.19603581  0.76152131
  -2.53337081 -1.38653611  0.44349948  1.51780252]
 [-0.65311418  0.12457755 -1.26926887 -1.26234633 -1.88137604 -0.27763515
   1.30677152 -0.26280798 -0.61742435  1.36691417  0.920136    1.24862594
  -0.09224254  0.35559132  0.18654867 -0.03084346  0.27278386 -1.01631698
   0.48148983 -0.62413412 -0.73334111 -0.81735951]
 [ 1.19328804  0.60365326 -0.9724169   0.45423259  0.57990835  0.02623133
  -0.23525531  0.1177231   0.3564564  -0.4457694  -1.07927912  1.3999232
   0.17468625 -0.04462465 -0.29943686  1.0703195  -1.61515261  0.89076025
   0.23229331 -0.26062634 -0.38608608 -0.8246167 ]
 [-0.09346144  1.2786378   0.74743277  1.3408207  -1.11151693  0.79207905
   0.13612173  1.47207162 -0.39506572 -0.591959   -1.56185998 -0.23565671
  -0.74273991 -0.2183628   1.87778477  0.79145462  0.13822609 -0.81285825
   0.17132309  1.48227662  0.80806969  1.0444622 ]
 [-1.19127424 -1.0352936  -0.4158586  -0.10798681  0.27379435  1.57168394
   0.06281997  1.4399865   0.99629915 -3.55526048 -0.60337422  1.28582562
  -0.95662124  0.58916662  1.24686043 -1.41057558 -0.1615583   1.67918323
   0.24482664 -0.86807576 -0.79978391  1.05020066]
 [-0.62604737 -0.85267695 -1.37760455  0.96704727  0.07436542  0.46872677
  -0.65420767  0.84274684  0.1607359  -0.70377301  0.49124571 -0.16683628
  -2.15959145  0.44292307  1.26945549 -0.75529658  0.90572562  0.82196894
  -0.53440343  0.81821681  0.32636345  0.55524827]
 [-0.35357254 -0.69282575 -0.98641266 -0.02210809 -1.9497384   0.17352809
  -0.04465345  2.3536958  -0.29745946 -1.78604908  0.25245739 -0.12272562
   0.96269703 -0.05402697 -0.43610786 -0.98428214 -0.32797689 -1.37736788
   0.92275174  0.31375721  0.58387267  0.08276333]
 [-3.02546031  1.0052837  -0.59516667 -0.76963099  0.1980999   0.59702291
  -0.00380572  0.25975159  0.91918586  0.09972987  0.03342831  0.60988113
  -0.41495149  0.00466709  0.41815528 -0.25532279 -0.17447212  0.83200753
   1.14437365  0.39587432 -1.02868214  0.11893461]
 [-2.26962804  2.03438682  1.21706317 -0.03977009  2.07367506 -1.3889107
   0.52257923  1.19097803  0.23210457 -0.74455735 -1.58232701  0.22969058
  -1.75812697 -0.35844826 -1.67219929 -0.39522062 -0.40654762 -1.02864852
   1.80183514  0.34442226  0.24015368  0.53657672]
 [-0.07750767  0.18492163 -0.07946095 -0.29970077  0.5173068   0.36553143
   0.66126041  1.41989206  0.99200021  0.08577564 -1.0852317   0.34942179
  -1.27873769 -0.23189016 -1.85074884  0.83231449 -0.60079478  0.63513866
   0.0774256  -1.07731481  0.10817965 -0.50027606]
 [ 0.52997474 -0.20164679  0.06589431 -1.45743881 -0.76174893  0.83203529
  -0.5588138   2.00870919  0.18973907 -0.21018831  1.65962236 -0.44945168
   1.15378789  0.10731455 -0.44106437 -3.5763803   2.64244882  1.46141567
  -0.9241115  -0.21521366  0.01825672 -0.85064331]
 [ 0.35106866  0.21621023 -0.12218296 -1.35819629  3.00693554  0.35581522
   0.44127574 -0.03469135  2.1332211   0.36122995  1.38768675 -0.63748056
  -0.36161271  0.05053416 -0.66028904  0.86566274 -0.03448695  0.21826764
  -1.70261701  0.6453307   0.18385387  0.11154013]
 [ 1.05770565 -0.11486145 -0.39687771 -2.07901265  0.35863244 -0.72082005
   0.86091318 -2.00634978 -0.44389602 -1.16474179 -1.07634166 -0.38287066
  -2.43888245 -1.10741642  0.2835141  -0.58164027  0.5678647   0.4995407
   0.02114202 -0.61892222  0.01991572 -0.30351194]
 [ 1.51304742  0.28533707  0.7116085   1.0097096   0.70443931 -1.71679827
   0.92981949  0.69440757 -0.22666304 -0.17187435 -0.39942377  1.34285191
  -0.90745261 -0.13658681  0.62111302  1.41389718 -0.52097379  1.05990988
   1.11662066 -0.66013341  0.03071206 -0.76023355]
 [ 1.38539128  1.17019704  0.75189873  0.23706382 -0.44142386 -1.6223493
  -0.15622361 -0.18787823 -0.22584435  0.46153565  1.32160789 -0.06355521
   1.83039612 -0.49679648  0.22189876  0.44319554 -1.07750648 -0.32675111
  -0.79566109 -0.14919206  1.28375172 -1.87547767]
 [-0.73140373 -0.32012106  0.83463252 -1.50891083 -0.05590207  0.99875683
  -0.87120423  0.51792231 -0.30640349  0.07916477  0.02116723  2.1266185
   0.2531407   0.43096723  1.48979649  0.65351734 -0.81484659 -1.02153352
  -1.32003268 -1.0736523   0.65077722  0.72348656]
 [ 0.32716956 -0.44322459 -0.43398494  0.46103115 -0.52999955  0.40795085
   0.36852228 -1.16253037  0.40554904  0.34920172 -0.81537605 -1.74628942
  -0.80344878 -0.96127686  2.01668793 -1.32986228  1.43963112 -2.97740003
  -0.43768961  0.38835033 -0.45014056  0.72260272]
 [-0.47173461 -1.21254875 -0.74605581  0.1988487   2.00863172 -1.00943288
  -0.49521621  0.25626596 -0.19420581 -1.54718341  0.65557491  0.37687429
  -0.25703552  0.82713241 -0.1412734   1.08294801  0.05556493 -0.53847282
   0.35379839  0.06008412 -0.9496617  -0.61131621]
 [-0.44833434  0.92576412  0.52025267 -0.06843948 -1.58592378 -0.74538792
  -0.9425138  -0.44506687  0.46785048  0.12195019  1.44732395 -0.91066434
  -0.88989265 -0.71387132  0.01465478  0.27585037 -0.9127694  -1.02918384
  -0.82459296  0.96098964 -1.60240207  1.50685212]
 [ 1.81071713  0.27110031 -0.0286181   0.88967116  2.14321462  1.59621454
  -0.98528889  0.3356397   1.06156577 -0.36292585  0.18439861  0.35507667
  -1.06948832 -2.26862523  1.81806012 -0.16338272  0.04698319 -0.43674194
   0.14743416 -0.31354037  0.52251384  0.20746202]
 [ 0.60305743  0.86359088  0.5059533   1.88704724  0.3027056   0.2822159
  -1.31891392 -0.55456698  1.39982025 -0.02634781 -2.36195841 -0.19682703
  -0.3400576   0.35205979  1.84788868  0.33139891 -0.22082724  0.18853195
   0.3354189  -0.56369617 -1.59998237  0.78647657]
 [ 1.27422042 -1.22090284 -0.03605928 -1.04733343 -1.41775345  0.55644722
  -0.02508259  0.35668144 -0.37953529 -0.69618936 -0.23607966  1.24444185
   0.48820502  0.34957534 -0.74864569 -0.52710507  3.46592961 -0.41489299
   1.95397033  0.89877866 -0.27854009 -0.55445306]
 [-1.2065856  -0.13976958  2.20038612  0.85362276 -0.57728417 -1.24160218
   1.24353876 -0.85652488 -1.91447901  0.24920037  0.4061083  -0.75421907
  -0.71963706 -1.57663736 -0.31567608  1.31744675  1.9607543   1.48623435
   0.79382562 -0.82058684  0.15949597 -0.14971562]
 [ 0.88124611 -0.08326672 -2.97480468 -0.54813806  0.23144944 -1.37500848
  -0.87704442  0.28124077 -2.45517036 -0.67791449  1.06223889 -0.04144072
  -2.61937534  2.69033855  2.27607545  0.83535947  0.19444712  0.57388654
   2.18015587 -0.27694061  0.232159    0.22029736]
 [-0.2192123   0.45741334 -2.30260919 -0.79921639  1.20663604 -1.05971344
  -1.7011285  -0.52750547  0.10392409  0.12382238 -0.152875    1.9411239
  -1.14532536  0.43966322 -1.53265212 -1.82097626  0.51291623  0.51592248
   0.31997751 -0.25026778  0.24392388 -0.45852804]
 [ 0.11553723 -1.07575361 -0.23189127  0.26744294  1.64803269 -0.93643926
  -0.99385557  0.32307664  1.80336088 -1.66536622 -1.65698317  0.19284489
   0.48476611  0.01346443  0.25423089  1.40789816  0.23097549  1.17813645
   0.01903787 -0.07261468  0.66249954 -0.47843896]
 [-0.87507122 -0.52365393  1.00650567  0.73330833  0.59990844  0.29168429
   0.63518601  0.18717514 -0.31805586 -0.70923072  0.03083663 -1.06038893
  -0.32174506  0.98220364  0.70950799  0.13730778  1.3472794   0.77983198
  -0.37725979 -0.29814821 -0.78085423 -0.34252236]
 [ 1.41128068 -1.30936181  1.68676875 -0.6836158   1.63617188 -1.51459982
  -0.69533872 -0.39488034  0.2545308  -1.24853143 -0.40025451 -1.32344297
  -1.09377216 -1.68207997  2.28782671 -0.2540308  -0.33643441 -0.61282338
   0.77534953  0.22928772 -0.16644654  0.03766144]
 [-0.39474608 -0.04494094  1.17412346  1.25406643 -0.18597367 -0.5103772
   1.05834988 -0.89277745  0.74829941 -0.62462507 -0.52452906  1.20706142
  -0.42330051  0.94459566 -0.39923259 -0.28441417  1.18164135  0.22750815
  -0.81797338 -1.72268806  0.7268649   0.38441366]
 [-1.24830468 -1.20426727  0.14837283 -0.50839208  0.21904878  0.28718268
   1.19586258 -0.56269211 -0.6344511   0.83184409  0.80790296 -1.52385879
  -0.34262485  0.81564627  1.94995738  1.00774219  1.46229629 -0.65320163
  -0.04085004 -0.50608436 -0.69618217 -0.5362392 ]
 [ 1.65139634 -0.55604492 -0.64185515  1.2173948   0.64793501 -1.47519123
   0.66645261  0.13408868  1.29948386  0.99979493  0.0941905   0.31596276
  -2.3985009   0.04793686  0.27960484  0.1354928   0.19567888  0.84113159
   0.4145476  -0.20259087 -1.54289323  0.6205676 ]
 [ 0.88349066 -0.17788494  1.80281614  0.28235844 -1.05118247 -0.40801161
   0.80219033 -1.32182034 -2.23437861  1.23820716  1.61443144 -0.31151294
   0.58135587  0.09083649 -1.18456033 -0.25006566  0.27591793 -0.95994317
   1.43712641  1.13578627 -0.73439869 -0.55676675]
 [-0.94722272  0.82459126  1.21091322  0.42294548  0.32303558  1.18393204
   0.22851819  0.48574843  1.02036807  0.32621664  0.093471    0.33985909
   0.04162701 -1.39270381  0.93168343 -0.30157681 -0.03181194  0.93793022
   0.94808983  1.22798535  0.58500833 -0.71865861]]

In [35]:
print(np_array[0,0])

1.0313199773603754

In [36]:
# 创建包含缺失值的数据
df_nan = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [10, 20, 30, 40]
})

print("原始数据（含缺失值）:\n", df_nan)
print("\n缺失值统计:\n", df_nan.isnull().sum())

# 填充缺失值
df_filled = df_nan.fillna({'A': 0, 'B': df_nan['B'].mean()})
print("填充缺失值后:\n", df_filled)

# 删除缺失值
df_dropped_na = df_nan.dropna()
print("删除缺失值后:\n", df_dropped_na)

原始数据（含缺失值）:
      A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

缺失值统计:
 A    1
B    2
C    0
dtype: int64
填充缺失值后:
      A    B   C
0  1.0  5.0  10
1  2.0  6.5  20
2  0.0  6.5  30
3  4.0  8.0  40
删除缺失值后:
      A    B   C
0  1.0  5.0  10
3  4.0  8.0  40

In [37]:
print("数据类型:\n", df.dtypes)

# 转换数据类型
df['年龄'] = df['年龄'].astype('float64')
print("转换年龄类型后:\n", df.dtypes)

# 字符串操作
df['姓名大写'] = df['姓名'].str.upper()
df['城市长度'] = df['城市'].str.len()
print("字符串操作后:\n", df[['姓名', '姓名大写', '城市', '城市长度']])

数据类型:
 姓名    object
年龄     int64
城市    object
工资     int64
部门    object
dtype: object
转换年龄类型后:
 姓名     object
年龄    float64
城市     object
工资      int64
部门     object
dtype: object
字符串操作后:
    姓名 姓名大写  城市  城市长度
0  张三   张三  北京     2
1  李四   李四  上海     2
2  王五   王五  广州     2
3  赵六   赵六  深圳     2
4  钱七   钱七  北京     2

In [38]:
# 按单列分组
grouped_city = df.groupby('城市')
print("按城市分组后的平均工资:\n", grouped_city['工资'].mean())

# 按多列分组
grouped_multi = df.groupby(['城市', '部门'])
print("按城市和部门分组:\n", grouped_multi['工资'].mean())

按城市分组后的平均工资:
 城市
上海    8000.0
北京    6250.0
广州    7000.0
深圳    6000.0
Name: 工资, dtype: float64
按城市和部门分组:
 城市  部门
上海  销售    8000.0
北京  技术    5000.0
    销售    7500.0
广州  技术    7000.0
深圳  人事    6000.0
Name: 工资, dtype: float64

In [39]:
# 对同一列使用多个聚合函数
agg_result = df.groupby('城市')['工资'].agg(['mean', 'sum', 'count', 'std'])
print("各城市工资统计:\n", agg_result)

# 对不同列使用不同聚合函数
agg_result_multi = df.groupby('部门').agg({
    '工资': ['mean', 'max'],
    '年龄': ['min', 'max', 'mean']
})
print("各部门多指标统计:\n", agg_result_multi)

各城市工资统计:
       mean    sum  count          std
城市
上海  8000.0   8000      1          NaN
北京  6250.0  12500      2  1767.766953
广州  7000.0   7000      1          NaN
深圳  6000.0   6000      1          NaN
各部门多指标统计:
         工资          年龄
      mean   max   min   max  mean
部门
人事  6000.0  6000  28.0  28.0  28.0
技术  6000.0  7000  25.0  35.0  30.0
销售  7750.0  8000  30.0  32.0  31.0

In [40]:
# 创建数据透视表
pivot_table = df.pivot_table(
    values='工资',
    index='城市',
    columns='部门',
    aggfunc='mean',
    fill_value=0
)
print("数据透视表:\n", pivot_table)

# 多维度数据透视
pivot_multi = df.pivot_table(
    values='工资',
    index=['城市', '部门'],
    aggfunc=['mean', 'count']
)
print("多维度数据透视:\n", pivot_multi)

数据透视表:
 部门      人事      技术      销售
城市
上海     0.0     0.0  8000.0
北京     0.0  5000.0  7500.0
广州     0.0  7000.0     0.0
深圳  6000.0     0.0     0.0
多维度数据透视:
          mean count
           工资    工资
城市 部门
上海 销售  8000.0     1
北京 技术  5000.0     1
   销售  7500.0     1
广州 技术  7000.0     1
深圳 人事  6000.0     1

In [41]:
# 创建第二个DataFrame
df2 = pd.DataFrame({
    '姓名': ['张三', '李四', '孙八'],
    '工龄': [3, 5, 2],
    '绩效': ['A', 'B', 'A']
})

print("df2:\n", df2)

# 内连接
merged_inner = pd.merge(df, df2, on='姓名', how='inner')
print("内连接结果:\n", merged_inner)

# 左连接
merged_left = pd.merge(df, df2, on='姓名', how='left')
print("左连接结果:\n", merged_left)

df2:
    姓名  工龄 绩效
0  张三   3  A
1  李四   5  B
2  孙八   2  A
内连接结果:
    姓名    年龄  城市    工资  部门 姓名大写  城市长度  工龄 绩效
0  张三  25.0  北京  5000  技术   张三     2   3  A
1  李四  30.0  上海  8000  销售   李四     2   5  B
左连接结果:
    姓名    年龄  城市    工资  部门 姓名大写  城市长度   工龄   绩效
0  张三  25.0  北京  5000  技术   张三     2  3.0    A
1  李四  30.0  上海  8000  销售   李四     2  5.0    B
2  王五  35.0  广州  7000  技术   王五     2  NaN  NaN
3  赵六  28.0  深圳  6000  人事   赵六     2  NaN  NaN
4  钱七  32.0  北京  7500  销售   钱七     2  NaN  NaN

In [44]:
# 垂直拼接（添加行）
new_employee = pd.DataFrame({
    '姓名': ['周九'],
    '年龄': [29],
    '城市': ['杭州'],
    '工资': [6500],
    '部门': ['技术']
})

df_appended = pd.concat([df, new_employee], ignore_index=False)
print("拼接后的数据:\n", df_appended)

拼接后的数据:
    姓名    年龄  城市    工资  部门 姓名大写  城市长度
0  张三  25.0  北京  5000  技术   张三   2.0
1  李四  30.0  上海  8000  销售   李四   2.0
2  王五  35.0  广州  7000  技术   王五   2.0
3  赵六  28.0  深圳  6000  人事   赵六   2.0
4  钱七  32.0  北京  7500  销售   钱七   2.0
0  周九  29.0  杭州  6500  技术  NaN   NaN